@charset "utf-8";
@import "reset.css";

/* fontlist */
/*
'montreal' (100, 300, 500)
'machina-plain' (100, 300) (italic)
'machina-inktrap' (300) (italic)
*/

/* mobile 기준
@media (max-width: 768px) {}
*/

/* style.css */

* {
  box-sizing: border-box;

  /* 스크롤바 업애기 */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'montreal', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.checking {
  /* border: 1px dashed red; */
}

section {}

/* Container */
.container {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  /* scroll-snap-type: y mandatory;
  scroll-behavior: smooth; */
  background: linear-gradient(#d20cff 0%, #ffffff 20%);
}


/* Header */
.header {
  height: fit-content;
  padding: 19px 22px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  display:flex;
  flex-direction: column;
  top: 0;
  left: 50%;
  transform: translate(-50%,0%);
  right: 0;
  z-index: 100;
  transition: all 0.3s ease;
  gap: 10px;
  
}

.headerTitle {
  color: #000000;
  font-family: 'montreal', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 30px;
  line-height: normal;
  cursor: pointer;
  transition: font-size 0.3s ease;
}

.headerTitle2 {
  color: #000000;
  font-family: 'montreal', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
  line-height: normal;
  transition: font-size 0.3s ease;
  white-space: nowrap;
}


.header.scrolled .headerTitle {
  font-size: 18px;
}

.headerTitle:hover {
  text-decoration: none;
  opacity: 0.7;
}

.ye {
  margin-right: -2px;
}

.won {
  font-family: sans-serif;
  font-weight: 500;
}

.headerNav {
  display: flex;
  flex-wrap:nowrap;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
}

.headerBtn {
  padding: 4px 12px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 300;
  font-family: 'montreal', sans-serif;
  border: none;
  cursor: pointer;
  background-color: #0cff69;
  color: #000;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.headerBtn.active {
  background-color: #000;
  color: #fff;
}

.headerBtn:hover {
  background-color: #000;
  color: #fff;
}


.header.scrolled .headerTitle {
  font-size: 18px;
}

/* Section */
section {
  width: 100%;
  height: fit-content;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 42px;
  background-color: #ffffff;
}

.sectionTitle {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.sectionTitleText {
  min-width: fit-content;
  font-family: 'montreal', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.filterContainer {
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-end;
  align-items: center;
}

.filterBtn {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: fit-content;
  height: 36px;
  background-color: #000;
  color: #fff;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 12px;
  font-size: 16px;
  font-family: 'montreal',
    sans-serif;
  font-weight: 300;
  font-style: normal;
  cursor: pointer;

}

#filterYear {
  min-width: 110px;
}

#filterTag {
  min-width: 160px;
}

.filterBtn svg {
  width: 14px;
  height: 12px;
}

.filterBtn:hover {
  background-color: #fff;
  color: #000;
}

.filterDropdown {
  position: absolute;
  top: 36px;
  right: 0;
  width: 100%;
  height: fit-content;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-family: 'montreal',
    sans-serif;
  font-weight: 300;
  font-style: normal;
  display: none;
  z-index: 1000;

}

.show {
  display: block;
}


.dropdown-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 8px;
  cursor: pointer;
  height: 36px;
}

.dropdown-item::before {
  content: '';
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 16px;
}

.dropdown-item:hover {
  background-color: #fff;
  color: #000;
}


.dash {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Canvas */
#canvas {
  width: 100vw;
  height: 66vh;
  background: #F2F2F2;
  padding: 0;
  position: relative;
}

canvas {
  display: block;
}


/* Contents */
.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 100px;
  transition: all 1s ease-in-out;


}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

/* mobile 기준 */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    gap: 20px;
  }
}



.card-text {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 30px;
}

/* mobile 기준 */
@media (max-width: 768px) {
  .card-text {
    width: 100%;
  }
  .headerTitle{
    font-size: 24px;
    white-space: nowrap;
  }
  .headerTitle2{
    font-size:16px;
    margin-bottom: 14px;
  }
  .header{
    gap:7px;
  }
  .card2-left{
    overflow-y:auto;
    height:max-content;
  }
  .card2-right{
    overflow-y:auto;
    height:max-content;
  }
}

.card-header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  align-items: stretch;
  gap: 8px;
}

@media (max-width: 768px) {
  .card-header {
    flex-direction: column;


  }
}


.card-title {
  width: fit-content;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 36px;
  font-family: 'montreal', sans-serif;
  font-weight: 500;
}

.card-subContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

.card-date {
  width: fit-content;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 4px 8px;
  font-size: 16px;
  font-family: 'montreal', sans-serif;
  font-weight: 200;
  font-style: normal;

}

.card-tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.card-tag {
  width: fit-content;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  padding: 6px 10px;
  font-size: 16px;
  font-family: 'montreal',
    sans-serif;
  font-weight: 300;
  font-style: normal;

}

.card-tag:hover {
  background-color: #000;
  color: #D9D9D9;
}

.rectemoji {
  width: 4px;
  height: 4px;
  background-color: #000;
}



.card-event {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  color: #2C2C2C;
  font-size: 18px;
  font-family: 'montreal', sans-serif;
  font-weight: 400;
  font-style: normal;
}


.card-projectType {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  color: #2C2C2C;
  font-size: 18px;
  font-family: 'montreal', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-description {
  font-size: 20px;
  font-family: 'montreal', sans-serif;
  font-weight: 400;
  color: #2C2C2C;
  font-style: normal;
}

.card-more {
  color: #0cff69;
  font-size: 20px;
  font-family: 'montreal',
    sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  cursor: pointer;
}

.card-more:hover {
  text-decoration: none;
  color: #000;
}

.card-image {
  width: 60%;
  height: fit-content;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card-image img {
  position: relative;
  width: 100%;
}

.card-short {
  color: #5F5F5F;
}

.special-font {
  font-style: italic;
}

/* mobile 기준 */
@media (max-width: 768px) {
  .card-image {
    width: 100%;
  }
}


.card-image img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}


.card-link {
  position: absolute;
  bottom: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  padding: 8px 12px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.48px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
}

.card-link:hover {
  text-decoration: underline;
}

.toggle {
  width: fit-content;
  position: relative;
  font-family: 'montreal', sans-serif;
  color: #0cff69;
  font-weight: 400;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}


/* Projects */
#projects {}


.blank {
  width: 100%;
  height: 200px;
}

#overlay {
  display: none;
  /* 초기에는 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cff69;
  color: black;
  z-index: 1000;
  transition: all 200ms ease-in-out;
}

.overlay-content {

  height: 100%;
  transition: all 200ms ease-in-out;

}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 100;
}

.name {
  font-weight: 600;
}



/* 여기서부터가 about.css */
.cv-content2 {
  left: 0px;
  position: relative;
  color: black;
  font-size: 16px;
  padding: 10px;
}

.cv-content2 h3 {
  margin-top: 0;
  font-weight: 400;
}

.cv-content2 table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.cv-content table,
.cv-content th,
.cv-content td {
  border-bottom: 1px solid black;
}

.cv-content td {
  padding: 8px;
  width: fit-content;
}

.cv-content a {
  text-decoration: none;
  color: black;
}

.cv-content a:hover {
  color: #3f3f3f;
}


/* 2열 레이아웃 */

.cv-content {
  display: flex;
  gap: 40px;
  padding: 20px;
}

.container2 {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* 섹션 스타일 */
.section2 {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* 테이블 스타일 */
table {
  border-collapse: collapse;
}

td {
  vertical-align: top;
  text-align: left;
  padding-bottom: 8px;
}

th {
  padding-bottom: 8px;
  text-align: left;
}

.custom-container {
  display: flex;
  gap: 50px;
}

@media (max-width: 768px) {
  .custom-container {
    flex-direction: column;
  }
}



#customContentTable {
  position: relative;
}

#customContentTable table {
  width: 100%;
  border-collapse: collapse;
}

#customContentTable th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #000;
}

#customContentTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #000;
}

#customContentImage {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#customContentImage img {
  width: 100%;
  height: auto;
  object-fit: contain;
  position: relative;
}

#customContentImage img:hover {
  cursor: pointer;
  opacity: 0.8;
}

#codeartImagebutton {
  padding: 8px 0px;
  color: #0cff69;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;

}

#codeartImagebutton:hover {
  text-decoration: none;
  color: #000;
}

@media (max-width: 550px) {
  .cv-content {
    flex-direction: column;
    overflow: visible;
  }

  .cv-content2 {
    font-size: 13px;
  }

  .overlay-content {
    overflow: visible;
  }

  #overlay {
    /* display: block; */
    overflow-y: auto;
  }
}

.code-left {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.code-right {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-cell {
  cursor: pointer;
}


#customRandomSentence {
  width: 100%;
  height: auto;
  aspect-ratio: 2/1;
  background-color: #FFFCF0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.filter-word {
  cursor: pointer;
}

.filter-word:hover {
  text-decoration: underline;
}

#customContentTable {
  width: 100%;
  height: 100%;
}

.card2 {
  padding-top: 130px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

/* mobile 기준 */
@media (max-width: 768px) {
  .card2 {
    flex-direction: column;
    gap: 20px;
  }
}

.card2-left {
  width: 100%;
  overflow-y: scroll;
  height: calc(100dvh - 130px);
  flex-direction: column;
  gap: 20px;
}

.card-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px 0;
}

.card-contents-sub {}

.card-contents-title {
  font-size: 20px;
  font-family: 'montreal', sans-serif;
  font-weight: 400;
  color: #5F5F5F;
  font-style: normal;
}

.card-contents-text {
  font-size: 20px;
  font-family: 'montreal', sans-serif;
  font-weight: 400;
  color: #000;
  font-style: normal;
  display: block;
}

/* card-description의 초기 스타일로 텍스트를 제한합니다 */
.card-description.short {
  display: -webkit-box;
  /* Flexbox 기반의 레이아웃 */
  -webkit-line-clamp: 3;
  /* 보여줄 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* 넘칠 경우 ...으로 표시 */

  /* 줄 수에 맞게 조절 */
}

.note {
  color: #5F5F5F;
  font-family: 'montreal', sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}

.card2-right {
  width: 100%;
  height: fit-content;
  overflow-y: scroll;
  height: calc(100dvh - 130px);
  display: flex;
}

.card2-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

.card2-image img {
  width: 100%;
  height: fit-content;
  object-fit: contain;
}

.card2-image iframe {
  width: 100%;

}

.imageRow {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.imageRow img {
  width: 48%;
  height: fit-content;
  object-fit: contain;
}

/* p5 canvas */
.p5Element {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  width: fit-content;
  height: fit-content;
  z-index: 9;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 8px 8px;
  gap: 8px;
}

.p5-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000;
  padding-bottom: 8px;

}

.p5-input {
  width: 100%;
  min-width: 200px;
  height: fit-content;
  font-size: 16px;
  font-family: 'montreal', sans-serif;
  font-weight: 300;
  font-style: normal;
  border: 0;
  outline: none;
  color: #000;
}

.p5-input::placeholder {
  color: #000;
}

.p5-button {
  width: 16px;
  height: 16px;
  background-color: #000;
  color: #fff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: large;
  padding: 2px;
  opacity: 0.5;
}

.p5-button svg {
  width: 20px;
  height: 20px;
}

.p5-button:hover {
  background-color: #000;
  color: rgb(0, 0, 0);
  opacity: 1;
}

.p5-slider-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #ffffff;
  padding-left: 2px;
}

.p5-sliderName {
  width: fit-content;
  font-size: 16px;
  font-family: 'montreal', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000;
}

.p5-slider {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #000;
  width: 100%;
  height: 4px;
  background-color: #000;
  border: 0;
  outline: none;
  accent-color: #000;
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.p5-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #000;
  border: 1px solid #000;
  cursor: pointer;
}

.p5-sliderValue {
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 20px;
  font-size: 14px;
  font-family: 'montreal', sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #000;
}


.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.gallery-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: translateY(-5px);
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.gallery-item:hover .gallery-image {
  filter: grayscale(0%);
}

.gallery-tag{
  background: none;
  padding: 7px;
  text-align: center;
  width: fit-content;
  border-radius: 15px;
  margin-bottom: 5px;
  border: 1px solid;
  font-size: 12px;
}

.gallery-info {
  background-color: #fff;
  top:0px;
  padding: 15px;
}

.gallery-date {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}

.gallery-description {
  font-size: 16px;
  margin-bottom: 12px;
  line-height: 1.4;
}

.view-more {
  display: inline-block;
  color: #0cff69;
  text-decoration: underline;
  font-size: 14px;
  transition: all 0.3s;
}

.view-more:hover {
  color: #000;
  text-decoration: none;
}

.view-more2 {
  display: inline-block;
  text-decoration: underline;
  font-size: 14px;
  transition: all 0.3s;
}