@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'HANBatang';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/HANBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    position: absolute;
    height: 100%;
    width: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    margin: 0px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}



.Rectangle-22 {
    position: absolute;
    top: 94px;
    left: 10px;
    width: fit-content;
    margin: 0px;
    background-color: #20ff00;
}
.Rectangle-22 p {
    font-family: "Work Sans", sans-serif;            
    font-size: 48px;
    font-weight: 600;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 12px;
    margin-right: 12px;
    white-space: nowrap;
    text-align: center;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}
.Vector-1 {
    position: relative;
    width: 2px;
    height: 100%;
    margin: 0 6px 0 12px;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    background-color: #20ff00;
}

.information{
    position: absolute;
    left: 20%;
    top:21.6%;
    width: 39.1%;
    white-space: inherit;   
    -ms-overflow-style: none;
    font-family: "Work Sans", sans-serif;  
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;       
}

.information::-webkit-scrollbar{
    display:none;
  }

.inform1{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.32px;
    text-align: left;
    color: #c1c1c1;
}



.item1{
    position: absolute;
    top:0px;
    left: 10px;
    top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0px;
}

.Rectangle-2 {
    position:relative;
    width: 131px;
    height: 26px;
    margin: 1px 5px 1px;
    padding: 4px 6px;
    background-color: #D9D9D9;
    z-index: 0;
}


.Rectangle-3 {
    position: absolute;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
}




.more{
    position: absolute;
    left: 340px;
    top:36px;
    border:none;
    background-color: white;
    cursor: pointer;
    color: #ff4646;
}

.Vector1 {
    position: relative;
    display: none;
    width: 0.4px;
    height: 260px;
    left:130px;
    top:0px;
    margin: 30px 7.8px 1px 12.8px;
    transform: rotate(-360deg);
    background-color: #000;
}

.item2{
    position: absolute;
    display: flex;
    top:85px;
    width:115px;
    left:15px;
    flex-direction: column;
    font-family: 'Old Standard TT', serif;
    gap:27px;
}

.item3{
    position: absolute;
    display: flex;
    right: 10px;
    cursor: pointer;
    margin: 10px;
    flex-direction: row;
    top:10px;
    gap: 30px;
}

.item4{
    position: absolute;
    left: 10px;
    top:11.3%;
    width: 18%;
}


#yearSelect{
    position: relative;
    width: 80px;
    height: 28px;
    flex-grow: 0;
    border: none;
    padding: 4px 9px;
    background-image: radial-gradient(circle at 50% 50%, #fff 16%, #f0f0f0 92%);
}

#mediaSelect{
    position: relative;
    width: max-content;
    height: 28px;
    border: none;
    flex-grow: 0;
    margin-bottom: 10px;
    background-image: radial-gradient(circle at 50% 50%, #fff 16%, #f0f0f0 92%);
}

.worklist{
    position: relative;
    font-family: 'Old Standard TT', serif;
}

table {
    width: 500px;
}

th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
}

.text-box{
    position: relative;
    width: 90%;
    height: 50%;
    margin: 21px 10px 21px 10px;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: n20ormal;
    text-align: left;
    color: #000;
}

.cellonthebeach{
    position:relative;
    width: 131px;
    height: 26px;
    margin: 1px 5px 1px;
    padding: 4px 6px;
    background-color: rgb(65, 166, 255);
    z-index: 0;
}


